.kittypawImage {
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 50%;
  height: 35em;
  background-image: url(paw-sign-of-rock-paper-scissors-game.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0% 20%;
}

.kittypawImage >img {
  /* border: 2px black solid; */
  max-width: 60%;
  position: relative;
}

.kittypawContainerAll {
  background:#fce3db ;
}

.kittypawContainer {
  /* border: 2px blue solid; */
  /* max-width: 60%; */
  width: 60%;
  height: 450px;
  max-height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 0% 20%;
  justify-content: center;

  position: absolute;
  top: 10%;
}


.kittypaw {
  /* border: 2px green solid; */
  color:white;
  text-decoration: none;
  /* width: 250px; */
  /* width: 6.75em; */
  width: 225px;
  height: 450px;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* PADDING: 0% 60%; */
  /* margin: 0 10%; */
}

/* .kittypaw:hover {
  background-color: #6dcebc;
  opacity: 50%;
} */